.link {
  display: inline-block;
  text-decoration: none;
  color: #ff8c00;
  font-size: 20px;
  font-weight: 900;
  padding-right: 15px;
  margin: 20px;
}
.nav {
  background: #d3d3d3;
}
.activeLink {
  color: #ff4500;
}
